/*
  * {
    margin: 0;
  }
  
  #container {
    width: 200px;
  }
  
  .margin {
    margin: 10px;
  }
  
  h1, h2 {
    color: pink;
    font-size: px;
    background: black;
  }
*/

